$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-32: 32px;
$font-size-40: 40px;

$line-height-21: 21px;
$line-height-18: 18px;

$color-red: hsl(0, 72%, 55%);
$color-black: hsl(240, 5%, 4%);
$color-white: hsl(0, 0%, 100%);
$color-green: hsl(121, 42%, 52%);
$color-orange: hsl(16, 100%, 76%);
$color-light-lilac: hsl(240, 33%, 97%);

$color-blue: hsl(203, 78%, 31%);
$color-medium-blue: hsl(203, 14%, 44%);
$color-lighter-blue: hsl(200, 15%, 88%);

$color-dark-gray: hsl(240, 8%, 40%);
$color-light-gray: hsl(240, 20%, 95%);
$color-medium-gray: hsl(240, 5%, 48%);
$color-dark-gray-2: hsl(240, 8%, 28%);
$color-lighter-gray: hsl(240, 19%, 93%);
$color-light-gray-2: hsl(200, 14%, 96%);
