@use '../../stylesheets/variables.scss' as var;

.productGrid {
  gap: 2.5rem;
  width: 100%;
  display: grid;
  min-height: 100vh;
  padding-block: 1rem 4rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1200px) {
  .productGrid {
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .productGrid {
    gap: 1rem;
    padding-block: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
