@use '../../stylesheets/variables.scss' as var;

.productGrid {
  gap: 2rem;
  width: 100%;
  display: grid;
  min-height: 100vh;
  position: relative;
  justify-content: center;
  padding-block: 1rem 4rem;
  grid-template-rows: repeat(3, 378px);
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@media (max-width: 1400px) {
  .productGrid {
    gap: 1.5rem;
  }
}

@media (max-width: 825px) {
  .productGrid {
    padding-block: 1rem;
  }
}
