@use '../../stylesheets/variables.scss' as var;

.container {
  width: 80%;
  gap: 1.5rem;
  display: flex;
  padding-block: 2rem 0;
  flex-direction: column;
  align-items: flex-start;
  animation: fallDown 0.5s ease forwards;
}

@keyframes fallDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 100;
    transform: translate(0);
  }
}

.backLink {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var.$color-medium-blue;
}

.back {
  width: 100%;
  height: auto;
  max-width: 24px;
}

.mainWrapper {
  gap: 2rem;
  width: 100%;
  display: flex;
}

.productImage {
  width: 100%;
  height: auto;
  max-width: 750px;
  border-radius: 4px;
}

.productWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.category {
  font-weight: 400;
  color: var.$color-dark-gray-2;
}

.headingWrapper {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  padding-block: 1rem 4rem;
}

.productHeading {
  font-weight: 300;
  line-height: 1.2;
  font-size: var.$font-size-32;
  color: var.$color-dark-gray-2;
}

.productPrice {
  font-weight: 600;
  color: var.$color-black;
  font-size: var.$font-size-20;
}

.shippingText {
  font-weight: 400;
  margin-top: 1.5rem;
  font-size: var.$font-size-12;
  color: var.$color-dark-gray-2;
}

.descriptionWrapper {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.descriptionHeading {
  font-weight: 500;
  color: var.$color-dark-gray;
}

.description {
  font-weight: 400;
  font-size: var.$font-size-14;
  color: var.$color-dark-gray-2;
  line-height: var.$line-height-21;
}

.cartBtn {
  all: unset;
  gap: 0.5rem;
  width: 100%;
  display: flex;
  cursor: pointer;
  margin-top: auto;
  border-radius: 4px;
  padding-block: 0.7rem;
  justify-content: center;
  background-color: var.$color-blue;
}

.shoppingBag {
  width: 100%;
  height: auto;
  max-width: 24px;
}

.cartBtnText {
  font-weight: 400;
  color: var.$color-white;
}

@media (max-width: 1200px) {
  .mainWrapper {
    flex-direction: column;
  }

  .productImage {
    max-width: unset;
  }

  .headingWrapper {
    gap: unset;
  }

  .cartBtn {
    margin-top: 3rem;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
  }
}
